In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [57]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [58]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [59]:
df.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [60]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [61]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [62]:
a = pd.get_dummies(df.Gender,drop_first=True)
b = pd.get_dummies(df.Geography,drop_first=True)
print(b)

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [63]:
df = pd.concat([df,a,b],axis=1)

In [64]:
df = df.drop(['Geography','Gender','RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [65]:
X = df.drop(['Exited'],axis=1)
y = df.Exited

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [67]:
X_train.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
8371,813,29,5,106059.40,1,0,0,187976.88,0,1,0
5027,681,37,8,73179.34,2,1,1,25292.53,1,1,0
9234,642,49,4,120688.61,1,1,0,24770.22,1,1,0
3944,612,31,8,117989.76,1,1,1,54129.86,0,0,0
6862,586,33,9,0.00,1,1,0,6975.02,1,0,0

In [68]:
y_train.head()

8371    1
5027    0
9234    1
3944    0
6862    0
Name: Exited, dtype: int64

In [69]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [80]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import ReLU,LeakyReLU,PReLU,ELU

In [81]:
ann = Sequential()

In [83]:
ann.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
ann.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
ann.add(Dense(output_dim=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

C:\Users\korla\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="glorot_uniform", activation="sigmoid", units=1)`
  This is separate from the ipykernel package so we can avoid doing imports until

In [84]:
ann.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\korla\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [85]:
reg = ann.fit(X_train,y_train,validation_split=0.0,batch_size=10,epochs=100)

WARNING:tensorflow:From C:\Users\korla\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
6700/6700 [==============================] - 2s 263us/step - loss: 0.6110 - accuracy: 0.7554
Epoch 2/100
6700/6700 [==============================] - 1s 166us/step - loss: 0.5306 - accuracy: 0.7919
Epoch 3/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.5149 - accuracy: 0.7919
Epoch 4/100
6700/6700 [==============================] - 1s 167us/step - loss: 0.5068 - accuracy: 0.7919
Epoch 5/100
6700/6700 [==============================] - 1s 206us/step - loss: 0.4932 - accuracy: 0.7919
Epoch 6/100
6700/6700 [==============================] - 1s 167us/step - loss: 0.4742 - accuracy: 0.7919
Epoch 7/100
6700/6700 [==============================] - 1s 169us/step - loss: 0.4586 - accuracy: 0.7919
Epoch 8/100
6700/6700 [==============================] - 1s 171us/step - loss: 0.4490 - accuracy: 0.7922
Epoch 9/100
6700/6700 [==============================] - 1s 170us/step - loss: 0.4430 - accuracy: 0.7924
Epoch 10/100
6700/6700 [==============================] - 1s 212us/step - loss: 0.4383 - accuracy: 0.7964
Epoch 11/100
6700/6700 [==============================] - 1s 174us/step - loss: 0.4345 - accuracy: 0.7979
Epoch 12/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.4317 - accuracy: 0.7966
Epoch 13/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.4290 - accuracy: 0.7964
Epoch 14/100
6700/6700 [==============================] - 2s 239us/step - loss: 0.4265 - accuracy: 0.7988
Epoch 15/100
6700/6700 [==============================] - 1s 184us/step - loss: 0.4239 - accuracy: 0.8030
Epoch 16/100
6700/6700 [==============================] - 1s 174us/step - loss: 0.4214 - accuracy: 0.8046
Epoch 17/100
6700/6700 [==============================] - 1s 190us/step - loss: 0.4187 - accuracy: 0.8061
Epoch 18/100
6700/6700 [==============================] - 1s 184us/step - loss: 0.4162 - accuracy: 0.8052
Epoch 19/100
6700/6700 [==============================] - 1s 206us/step - loss: 0.4135 - accuracy: 0.8100
Epoch 20/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.4104 - accuracy: 0.8096
Epoch 21/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.4066 - accuracy: 0.8143
Epoch 22/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.4025 - accuracy: 0.8166
Epoch 23/100
6700/6700 [==============================] - 1s 212us/step - loss: 0.3978 - accuracy: 0.8206
Epoch 24/100
6700/6700 [==============================] - 1s 171us/step - loss: 0.3925 - accuracy: 0.8285
Epoch 25/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.3867 - accuracy: 0.8315
Epoch 26/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.3814 - accuracy: 0.8346
Epoch 27/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.3771 - accuracy: 0.8401
Epoch 28/100
6700/6700 [==============================] - 1s 211us/step - loss: 0.3736 - accuracy: 0.8421
Epoch 29/100
6700/6700 [==============================] - 1s 170us/step - loss: 0.3704 - accuracy: 0.8466
Epoch 30/100
6700/6700 [==============================] - 1s 171us/step - loss: 0.3684 - accuracy: 0.8455
Epoch 31/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.3666 - accuracy: 0.8458
Epoch 32/100
6700/6700 [==============================] - 1s 201us/step - loss: 0.3650 - accuracy: 0.8476
Epoch 33/100
6700/6700 [==============================] - 1s 186us/step - loss: 0.3638 - accuracy: 0.8491
Epoch 34/100
6700/6700 [==============================] - 1s 174us/step - loss: 0.3631 - accuracy: 0.8479
Epoch 35/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.3618 - accuracy: 0.8493
Epoch 36/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.3607 - accuracy: 0.8503
Epoch 37/100
6700/6700 [==============================] - 2s 241us/step - loss: 0.3606 - accuracy: 0.8481
Epoch 38/100
6700/6700 [==============================] - 1s 200us/step - loss: 0.3593 - accuracy: 0.8504
Epoch 39/100
6700/6700 [==============================] - 1s 206us/step - loss: 0.3588 - accuracy: 0.8513
Epoch 40/100
6700/6700 [==============================] - 1s 207us/step - loss: 0.3582 - accuracy: 0.8515
Epoch 41/100
6700/6700 [==============================] - 1s 210us/step - loss: 0.3573 - accuracy: 0.8536
Epoch 42/100
6700/6700 [==============================] - 1s 175us/step - loss: 0.3564 - accuracy: 0.8524
Epoch 43/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.3564 - accuracy: 0.8542
Epoch 44/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.3561 - accuracy: 0.8540
Epoch 45/100
6700/6700 [==============================] - 1s 200us/step - loss: 0.3549 - accuracy: 0.8536
Epoch 46/100
6700/6700 [==============================] - 1s 184us/step - loss: 0.3545 - accuracy: 0.8540
Epoch 47/100
6700/6700 [==============================] - 1s 172us/step - loss: 0.3539 - accuracy: 0.8545
Epoch 48/100
6700/6700 [==============================] - 1s 174us/step - loss: 0.3535 - accuracy: 0.8540
Epoch 49/100
6700/6700 [==============================] - 1s 209us/step - loss: 0.3531 - accuracy: 0.8548
Epoch 50/100
6700/6700 [==============================] - 2s 293us/step - loss: 0.3526 - accuracy: 0.8564
Epoch 51/100
6700/6700 [==============================] - 1s 176us/step - loss: 0.3526 - accuracy: 0.8549
Epoch 52/100
6700/6700 [==============================] - 1s 160us/step - loss: 0.3521 - accuracy: 0.8542
Epoch 53/100
6700/6700 [==============================] - 1s 161us/step - loss: 0.3517 - accuracy: 0.8558
Epoch 54/100
6700/6700 [==============================] - 1s 214us/step - loss: 0.3521 - accuracy: 0.8555
Epoch 55/100
6700/6700 [==============================] - 1s 165us/step - loss: 0.3510 - accuracy: 0.8563
Epoch 56/100
6700/6700 [==============================] - 1s 204us/step - loss: 0.3509 - accuracy: 0.8543
Epoch 57/100
6700/6700 [==============================] - 1s 199us/step - loss: 0.3504 - accuracy: 0.8564
Epoch 58/100
6700/6700 [==============================] - 1s 210us/step - loss: 0.3502 - accuracy: 0.8572
Epoch 59/100
6700/6700 [==============================] - 2s 263us/step - loss: 0.3504 - accuracy: 0.8570
Epoch 60/100
6700/6700 [==============================] - 1s 199us/step - loss: 0.3490 - accuracy: 0.8567
Epoch 61/100
6700/6700 [==============================] - 2s 231us/step - loss: 0.3496 - accuracy: 0.8572
Epoch 62/100
6700/6700 [==============================] - 2s 270us/step - loss: 0.3489 - accuracy: 0.8578
Epoch 63/100
6700/6700 [==============================] - 1s 191us/step - loss: 0.3485 - accuracy: 0.8584
Epoch 64/100
6700/6700 [==============================] - 1s 176us/step - loss: 0.3482 - accuracy: 0.8579
Epoch 65/100
6700/6700 [==============================] - 1s 182us/step - loss: 0.3479 - accuracy: 0.8560
Epoch 66/100
6700/6700 [==============================] - 1s 189us/step - loss: 0.3473 - accuracy: 0.8572
Epoch 67/100
6700/6700 [==============================] - 1s 203us/step - loss: 0.3474 - accuracy: 0.8581
Epoch 68/100
6700/6700 [==============================] - 1s 180us/step - loss: 0.3469 - accuracy: 0.8576
Epoch 69/100
6700/6700 [==============================] - 1s 192us/step - loss: 0.3463 - accuracy: 0.8570
Epoch 70/100
6700/6700 [==============================] - 1s 182us/step - loss: 0.3468 - accuracy: 0.8561
Epoch 71/100
6700/6700 [==============================] - 2s 234us/step - loss: 0.3466 - accuracy: 0.8575
Epoch 72/100
6700/6700 [==============================] - 1s 181us/step - loss: 0.3456 - accuracy: 0.8566
Epoch 73/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.3456 - accuracy: 0.8566
Epoch 74/100
6700/6700 [==============================] - 1s 173us/step - loss: 0.3458 - accuracy: 0.8566
Epoch 75/100
6700/6700 [==============================] - 1s 202us/step - loss: 0.3453 - accuracy: 0.8582
Epoch 76/100

6700/6700 [==============================] - 1s 188us/step - loss: 0.3452 - accuracy: 0.8560
Epoch 77/100
6700/6700 [==============================] - 1s 171us/step - loss: 0.3449 - accuracy: 0.8579
Epoch 78/100
6700/6700 [==============================] - 1s 170us/step - loss: 0.3448 - accuracy: 0.8584
Epoch 79/100
6700/6700 [==============================] - 1s 167us/step - loss: 0.3444 - accuracy: 0.8582
Epoch 80/100
6700/6700 [==============================] - 1s 202us/step - loss: 0.3445 - accuracy: 0.8591
Epoch 81/100
6700/6700 [==============================] - 1s 167us/step - loss: 0.3449 - accuracy: 0.8566
Epoch 82/100
6700/6700 [==============================] - 1s 168us/step - loss: 0.3440 - accuracy: 0.8588
Epoch 83/100
6700/6700 [==============================] - 1s 197us/step - loss: 0.3435 - accuracy: 0.8588
Epoch 84/100
6700/6700 [==============================] - 1s 171us/step - loss: 0.3440 - accuracy: 0.8584
Epoch 85/100
6700/6700 [==============================] - 1s 205us/step - loss: 0.3434 - accuracy: 0.8599
Epoch 86/100
6700/6700 [==============================] - 1s 169us/step - loss: 0.3436 - accuracy: 0.8603
Epoch 87/100
6700/6700 [==============================] - 1s 188us/step - loss: 0.3439 - accuracy: 0.8581
Epoch 88/100
6700/6700 [==============================] - 1s 197us/step - loss: 0.3432 - accuracy: 0.8594
Epoch 89/100
6700/6700 [==============================] - 2s 277us/step - loss: 0.3432 - accuracy: 0.8612
Epoch 90/100
6700/6700 [==============================] - 1s 208us/step - loss: 0.3431 - accuracy: 0.8615
Epoch 91/100
6700/6700 [==============================] - 1s 219us/step - loss: 0.3431 - accuracy: 0.8597
Epoch 92/100
6700/6700 [==============================] - 2s 235us/step - loss: 0.3433 - accuracy: 0.8576
Epoch 93/100
6700/6700 [==============================] - 2s 246us/step - loss: 0.3431 - accuracy: 0.8584
Epoch 94/100
6700/6700 [==============================] - 1s 179us/step - loss: 0.3425 - accuracy: 0.8599
Epoch 95/100
6700/6700 [==============================] - 1s 179us/step - loss: 0.3428 - accuracy: 0.8582
Epoch 96/100
6700/6700 [==============================] - 1s 184us/step - loss: 0.3421 - accuracy: 0.8590
Epoch 97/100
6700/6700 [==============================] - 2s 236us/step - loss: 0.3424 - accuracy: 0.8594
Epoch 98/100
6700/6700 [==============================] - 1s 177us/step - loss: 0.3417 - accuracy: 0.8575
Epoch 99/100
6700/6700 [==============================] - 1s 182us/step - loss: 0.3427 - accuracy: 0.8564
Epoch 100/100
6700/6700 [==============================] - 1s 179us/step - loss: 0.3422 - accuracy: 0.8578

In [90]:
y_pred = ann.predict(X_test)
y_pred = y_pred > 0.5

In [91]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [92]:
print(confusion_matrix(y_test,y_pred))

[[2555  102]
 [ 333  310]]

In [93]:
accuracy_score(y_test,y_pred)

0.8681818181818182